<nav class="teal" role="navigation">
    <div class="nav-wrapper container row valign-wrapper">
      <div class="col s4 center">
        <a href="/students">
          <h5 style="font-size: 1.4em">
            Students
          </h5 style="font-size: 1.4em">
        </a>
      </div>
      <div class="col s4 center">
        <a href="/teachers">
          <h5 style="font-size: 1.4em">
          Teachers
        </h5 style="font-size: 1.4em"></a>
      </div>
      <div class="col s4 center">
        <a href="/subjects">
          <h5 style="font-size: 1.4em">
            Subjects
          </h5 style="font-size: 1.4em">
        </a>
      </div>
    </div>
</nav>